<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'footers', 'master', 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do%>
          <div class="circle">
            <br />
            Advice from

            <br />
            the wisest

            <br />
            of time
          </div>
        <% end %>
      </div>
      <div class="col col-sm-4 h idden-xs-down slogan">
        Splurting out free wisdom from 10,000 BC. to 2019 AD.
      </div>
      <div class="co-10 offset-1 offset-sm-0 col-sm-5 links">
                <!-- Button trigger modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp;&nbsp;
        <%= link_to 'About', about_path %>
      </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
                <%= f.input :saying, label: "Enlighten us with your wisdom.", placeholder: "Tis but a scratch." %>
                <br />
                <%= f.input :author, label: "Claim the wisdoms origins.", placeholder: "The Black Knight" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Create', class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <hr />

    <br class="clear" />

  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <% flash[:error].html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
        </div>
        <div class="col-12 col-sm-6 footer-blurb">
          Proudly created by <a href="https://gabrielmaestas.netlify.com">[Gabriel Maestas]</a><br />Want to build your own splurty Web App - <a href="https://bootcamp.ce.arizona.edu/coding/online/landing/?s=Google-Brand&&71232098572_kwd-318139889176__327898242672_g_c___dc&pkw=university%20of%20arizona%20coding%20bootcamp&pcrid=327898242672&pmt=e&utm_source=google&utm_medium=cpc&utm_campaign=&utm_term=university%20of%20arizona%20coding%20bootcamp&utm_content=327898242672&s=google&k=university%20of%20arizona%20coding%20bootcamp&gclid=Cj0KCQjwhuvlBRCeARIsAM720HqArIsJLbfJom8yuh-IoLRkDwbXhF0ajK-HCMhvzSdpqxGXhkDGfhcaAizqEALw_wcB&gclsrc=aw.ds">Learn how to code here</a>
      </div>
    </div>
  </div>


  </body>
</html>
